<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aula 137</title>
</head>
<body>
    <section class="container">
        <h1>Formulário</h1>
        <form action="/" method="post">
            <input type="text" name="name" id="name" placeholder="Name">
            <input type="text" name="email" id="email" placeholder="Email">
            <input type="text" name="phone" id="phone" placeholder="Phone">
            <input type="submit" value="Submit">
        </form>
    </section>
    <script src="./assets/js/bundle.js"></script>
</body>
</html>