<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Aula 134</title>
</head>
<body>
    <div class="container">
        <h1>Formulário</h1>
        <form action="/" method="POST">
            <div>
                <label for="name">Nome:</label>
                <input type="text" name="name" id="name">
                <label for="email">E-mail:</label>
                <input type="email" name="email" id="email">
                <button type="submit">Enviar</button>
            </div>
        </form>
        <a href="/contact">Contato</a>
    </div>
</body>
</html>