@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: rgb(17, 86, 102);
  --primary-color-darker: rgb(9, 48, 56);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 10px;
  border-radius: 10px;
}

h1 {
  padding: 10px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

input[type="text"]:focus, input[type="email"]:focus {
  border: 1px solid var(--primary-color);
  transition: 0.3s ease-in-out;
}

input[type="text"]:focus::placeholder, input[type="email"]:focus::placeholder {
  color: transparent;
  transition: 0.3s ease-in-out;
}

input[type="submit"] {
  width: 25%;
  background: var(--primary-color);
  color: #fff;
  border: 0;
  cursor: pointer;
  align-self: flex-start;
  margin: 10px 0;
}

input[type="submit"]:hover {
  background: var(--primary-color-darker);
  transition: 0.3s ease-in-out;
}